---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import ContainerLayout from './ContainerLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, pubDate, updatedDate, heroImage, description } = Astro.props;
---

<ContainerLayout>
	<a
		class="mb-3 block text-sm text-stone-500 transition hover:-translate-x-1 hover:text-stone-100"
		href="/blog"
	>
		<svg
			class="inline pb-1"
			xmlns="http://www.w3.org/2000/svg"
			width="22"
			height="22"
			viewBox="0 0 512 512"
			><path
				fill="currentColor"
				d="M497.333 239.999H80.092l95.995-95.995l-22.627-22.627L18.837 256L153.46 390.623l22.627-22.627l-95.997-95.997h417.243z"
			></path></svg
		>
		Blog
	</a>
	{heroImage && <img class="mb-12" width={1020} height={510} src={heroImage} alt="" />}
	<article
		class="prose prose prose-stone prose-invert m-auto prose-headings:font-mono prose-h1:mt-20 prose-h1:font-bold"
	>
		<h1 class="mb-6" transition:name="h1">{title}</h1>
		<p class="my-6 text-xl text-stone-400">
			{description}
		</p>
		<p class="text-sm font-light text-stone-200">
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
		</p>
		<hr class="my-6" />
		<slot />
	</article>
</ContainerLayout>

<!-- This is the styles done quickly before, they only render MD and stuf -->
<!-- <main class="m-auto min-h-screen max-w-screen-lg px-4">
			<article class="prose prose-stone prose-invert prose-headings:font-mono prose-h1:font-bold">
			</article>
		</main> -->
